# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/.idea.FSharpCore5PaketRedirectionBug.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\WLCR\github\FSharpCore5PaketRedirectionBug\.idea\.idea.FSharpCore5PaketRedirectionBug\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
